@require './vendor/material-icons.styl'
@require './vendor/vuetify.styl'

.flex
  display: flex

.flex-initial
  flex: 0 1 auto;

.no-underline
  text-decoration: none

.small-caps
  font-variant: small-caps

.w-100
  width: 100%

.cursor
  cursor: pointer
